
.backgroundColor{
    background-color: #0e0d23;
    color: #fff;
}
.jobBox{
    width: 19rem;
    
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0.6rem 0.9rem;
}

.activerlyHiring{
    border: 0.1px solid greenyellow;
    border-radius: 7px;
    display: inline-block;
    padding: 5px 10px;
    background-color:#0e2659;
    opacity: 0.8;
    /* margin-bottom: 0.5rem !important; */
}

.skill{
    border: 1px solid #0dcaf0;
    color: #0dcaf0;
}

.jobOrgName{
    font-size: 1.2rem;
    color: #ffb616;
    margin-top: -0.5rem;
    margin-bottom: -0.1rem;
}
.jobTechPara{
    font-size: 1.3rem;
    margin-bottom: -0.1rem;
}
.jobTech{
    color: #0dcaf0;
    font-size: 1.3rem;
    /* margin-bottom: 0.2rem; */
}
.location{
    font-size: 1.4rem;
    margin-top: -0.1rem;
    margin-bottom: 0.2rem;
}

.salaryPara{
    font-size: 1.3rem;
    margin-top: -0.5rem;
    margin-bottom: 0.1rem;
}
.rupeeSymbol{
    font-size: 1.5rem;
}

.skill{
    font-size: 1.1rem;
    padding: 3px 8px;
    border-radius: 5px;
}
.skill:hover{
    background-color: #0dcaf0;
    color: black;
    transition: 0.5s;
}

.viewDetails{
    background-color: transparent;
    display: block;
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    color: green;
    border: 0.2px solid green;
    border-radius: 6px;
}
.viewDetails:hover{
    background-color: rgb(59, 118, 59);
    color: white;
}