<div class="container-fluid background " style="height: 92.8vh;">
    <div class="container">

        <div class="row background">
            <div class="col d-flex flex-column justify-content-center  " style="height: 75vh;">
                <h1 class="firstHeading">A comprehensive platform for reliable</h1>
                <span
                    class="animatedPara animate__animated animate__bounceIn nimate__delay-2s animate__slower animate_infinite">Job
                    oppurtunites and internships</span>
                <span class="discoverHire ">Get Discovered. Get Hired</span>
                <div>
                    <a href="/jobs" class="btn btn-primary buttonTag ">I'm A Job Seeker</a>
                    <a href="/register" class="btn btn-primary buttonTag mx-2">I'm A Recruiter</a>
                </div>
            </div>
            <div class="col-5 mt-2">
                    <img src="/images/IndexBanner.png" alt="">
            </div>
        </div>
    </div>
</div>