<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 style="color: rgb(70, 70, 70);">Login</h1>
    <div class="col-6 my-2 loginPage d-flex flex-column align-items-center justify-content-center">
    <form action="/login" method="post">
            <div class="my-2 d-flex flex-row align-items-start">
                <label class="firstPart px-4" for="email" >Email</label>
                <input class="secondPart" type="email" name="email" id="email" placeholder="Enter your email" value="admin@gmail.com">
            </div>
            <div class="my-2 d-flex flex-row align-items-start">
                <label class="firstPart " for="password">Password</label>
                <input class="secondPart" type="password" name="password" id="password"
                    placeholder="Enter your password" value="admin">
            </div>
            <button class="btn my-3 buttonTag">Login</button>
            <!-- <a href="/jobs" class="btn my-3 buttonTag">Login</a> -->
        </form>
    </div>
</div>