
<div class="background container-fluid " style=" height: 93vh;">
    <div class="top d-flex justify-content-center align-items-center">
        <div style="font-size: 7rem; font-weight: 100;">OOPs</div>
        <img class="ml-4" src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="">
    </div>
    <div class="bottom my-4 d-flex justify-content-center" style="color: red; font-weight: lighter;" >
        <h1>user not found pls register</h1>
    </div>
</div>
